*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*impede que padding e borda aumentem o tamanho do elemento*/
  font-family: "Lato";
}

body{
  background-color: #090e22;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}