* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}



/*HEADER*/
#header{
    background-color: #333333;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
#apple-icon{
    height: 20px;
}
#header p{
    font-size: 13px;
    color: white;
    cursor: pointer;
}



/*SUBHEADER*/
#sub-header{
    display: flex;
    background-color: white;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px rgb(196, 196, 196);
}
#sub-header #cellName{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-right: 350px;
}
#sub-header #buy-button1{
    background-color: #0070E2;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 0px;
    border-radius: 20px;
    cursor: pointer;
}
#sub-header #buy-button1:hover{
    background-color: #2283e4;
}
#sub-header p{
    font-size: 13px;
    color: #333;
    cursor: pointer;
}



/*CONTENT*/
#main-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    text-align: center;
}
#parcela{
    font-size: 13px;
    color: #7c7b7e;
}
#info{
    color: #5770d4;
    text-decoration: none;
}
#main-title{
    font-size: 60px;
}
#big-text{
    max-width: 30rem;
    margin: 0 auto;
}
#price{
    color: #7c7b7e;
    font-size: 19px;
}
#main-content #buy-button2{
    background-color: #0070E2;
    color: white;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: solid 0px;
    border-radius: 20px;
    align-self: center;
    font-size: 18px;
    cursor: pointer;
}
#main-content #buy-button2:hover{
    background-color: #2283e4;
}



/*IMGS*/
#imgs{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#iPhone-img{
    width: 1200px;
}



/*COLOR BUTTONS*/
#colors{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    display: flex;
    gap: 75px;
}
#silverButton {
    border: solid 2px white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 40px;
    height: 40px;
    background-color: #C5C5C4;
    border-radius: 100px;
    cursor: pointer;
}
#silverButton:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#orangeButton {
    border: solid 2px white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 40px;
    height: 40px;
    background-color: #EE8A4D;
    border-radius: 100px;
    cursor: pointer;
}
#orangeButton:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#blueButton {
    border: solid 2px white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 40px;
    height: 40px;
    background-color: #4B5268;
    border-radius: 100px;
    cursor: pointer;
}
#blueButton:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}



/*FOOTER*/
#footer{
    width: 100%;
    text-align: center;
    background-color: #333;
    padding: 10px;
    bottom: 0%;
}

#footerText{
    color: white;
    font-size: 12px;
    width: 100%;
}