* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 230, 120);
}

#main-container {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

#subtitle {
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
}

#submits {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#inputText {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

#inputButton {
    cursor: pointer;
    color: white;
    background: #1a8553;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#inputButton:hover{
    background-color: #14643e;;
}